

.topnavbar {
    overflow: hidden;
    background-color: rgb(118, 200, 255);
    position: fixed; 
    top: 0; 
	width: 100%;
	z-index: 2;
	height: 50px;
	padding: 5px;
}

.content {
	margin-top: 60px;
}

.console{
	background-color:rgb(235, 235, 235);
	padding: 0.2em;
	font-family: monospace;
}


#id-newline {
	font-family: monospace;
	font-size: inherit;
    width: 100%;
	border: none;
	border-width: 0;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	background-color: inherit;
	padding: 0;
}


